// Here you can add other styles
body { 
    background-color: #FEFBF4;
}

.main {
    margin-bottom: 30px;
}

.main .breadcrumb {
    color: #4c3926;
}

.app-footer {
    display: none;
}
.app .app-header, .app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.app-header.navbar .nav-item {
    min-width: 30px;
}

.brand-minimized .app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.aside-menu {
    background-color: #FEFBF4;
}

.breadcrumb { 
    background-color: #FEFBF4;
}

.header-icon-text {
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
}

h1, h2, h3, h4 { 
    color: #4c3926; 
}

.new-question .like, .question .like, .live .like {
    color: #ad2552;
}

.question .like a:hover {
    text-decoration: none;
}

.question .question-tag {
    border-radius: .25rem;
    border: solid 1px #8894a5;
    line-height: .75rem;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: .25rem 1.35rem .25rem 1rem;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #3c4859;
}

.transfer-button {
    width: 150px;
    margin-top: 30px;
    border: 0px;
    background-color: #4c3926;
    color: white;
    border-radius: .3rem
}

.word-wrap {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}

// .list_p1 .a {
//     text-decoration: none;
//     text-decoration-line: none;
//     text-decoration-style: initial;
//     text-decoration-color: initial;
//     border: none;
//     color: #1a1a1a;
// }

// ul {
//     list-style:none;
//     margin: 0;
//     padding: 0;
// }

// .list_p1 .li {
//     display: list-item;
//     text-align: -webkit-match-parent;
// }

// .list_p1 .bundle .tit {
//     height: 60px;
// }

// .list_p1 .bundle a {
//     padding-bottom: 37px;
//     display: block;
//     width: 100%;
//     height: 100%;
//     color: #1a1a1a;
//     background: #ffffff;
// }

// .list_p1 .bundle .tit {
//     display: block;
//     height: 46px;
//     overflow: hidden;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 23px;
// }

// .list_p1 .bundle .cont {
//     padding: 20px 0 0 15px;
//     display: block;
//     position: relative;
// }

// .list_p1 .bundle .cont:before {
//     content: '';
//     position: absolute;
//     top: -7px;
//     left: 15px;
//     width: 14px;
//     height: 14px;
//     background: url(http://menu.mt.co.kr/ttimes/images/renew/bg_diamond.png) no-repeat 0 0;
//     background-size: 100%;
// }

// .list_p1 .bundle a .cont:before, .list_p1 .bundle a .cont:before {
//     top: -14px;
//     left: 29px;
//     width: 28px;
//     height: 28px;
// }

// .textBody {
//     margin-top: 30px;
// }
