// Here you can add other styles
body { 
    background-color: #FEFBF4;
    color: #4c3926;
}

.main {
    margin-bottom: 30px;
}

.main .breadcrumb {
    color: #4c3926;
}

.custom-select {
    color: #4c3926;
}

.app-footer {
    display: none;
}
.app .app-header, .app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.app-header.navbar .nav-item {
    min-width: 30px;
}

.brand-minimized .app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.aside-menu {
    background-color: #FEFBF4;
}

.breadcrumb { 
    background-color: #FEFBF4;
}

.header-icon-text {
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
}

h1, h2, h3, h4 { 
    color: #4c3926; 
}

.new-question .like, .question .like, .live .like {
    color: #ad2552;
}

.question .like a:hover {
    text-decoration: none;
}

.question .question-tag {
    border-radius: .25rem;
    border: solid 1px #8894a5;
    line-height: .75rem;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: .25rem 1.35rem .25rem 1rem;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #3c4859;
}

.transfer-button {
    width: 150px;
    margin-top: 30px;
    border: 0px;
    background-color: #4c3926;
    color: white;
    border-radius: .3rem
}

.word-wrap {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    min-height: 350px;
}

.column-content {
    font-size: 15px;
}

.app-header.navbar .navbar-brand {
    background-size: 90px auto;
}