// Here you can add other styles

body { 
    background-color: #FEFBF4;
}

// .nav { 
//     background-color: #FEFBF4;
// }

.app .app-header, .app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

app-header.navbar .navbar-brand {
    background-color: #FEFBF4;
}

.aside-menu {
    background-color: #FEFBF4;
}

.breadcrumb { 
    background-color: #FEFBF4;
}

h1 { 
    color: #4c3926; 
}

// .sidebar .nav-link {
//     color: #4c3926;
// }

.sidebar-nav a {
    color: #ad2552;
}